<!DOCTYPE html>
<html>
<head>
    <script src="javascripts/jquery-2.1.1.min.js"></script>
    <script src="javascripts/semantic.min.js"></script>
    <script src="javascripts/login.js"></script>
    <title>Fritter: login</title>
    <link rel='stylesheet' href='/stylesheets/semantic.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
</head>
<body>
    <!-- load the navbar -->
    <%= include navbar.ejs %>
    <div class="centered bodyContent">
        <!-- load the login page -->
        <%= include login.ejs %>
        <div class="purple-text" id="disclaimer">This site uses cookies, so please don't flip out for some dumb, internet freedom reason.</div>
    </div>
</body>
</html>
