<div id="title">
    Welcome to Fritter!
</div>
<div class="ui centered error purple form segment">
    <div class="ui hidden error message">
    </div>
    <div class="field">
        <div class="ui left labeled icon input">
            <input type="text" name="username" placeholder="Username">
            <i class="user icon"></i>
        </div>
    </div>
    <div class="field">
        <div class="ui left labeled icon input">
            <input type="password" name="password" placeholder="Password">
            <i class="lock icon"></i>
        </div>
    </div>
    <div class="ui purple submit button">
        Login
    </div>
    <a href="/signup">
        <div class="ui purple button">
            Signup
        </div>
    </a>
</div>