#title {
    text-align: center;
    color: #564F8A;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 70px !important;
}

.form {
    width: 40%;
    min-width: 500px;
}